/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: rgb(39, 122, 216);
  border-radius: 5rem;
}

body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}

section {
  padding: 5rem 0;
  margin: auto;
  width: 80%;
}

.heading {
  font-size: 3.5vw;
  color: rgb(39, 122, 216);
  margin-bottom: 3rem;
  display: flex;
}

.heading > span {
  text-transform: uppercase;
  color: #fff;
  font-size: 12vw;
  margin-top: -70px;
  margin-right: -10vw;
  opacity: 20%;
}
#project > .heading > span {
  margin-right: -20vw;
}
#contact > .heading > span {
  margin-right: -2vw;
}

q {
  color: #e92cd9;
  font-family: "La Belle Aurore", cursive;
  font-size: 18px;
}

/*  button start*/
.btn {
  margin: 10% 0 5%;
  text-decoration: none;
  color: #0d54be;
  width: 100%;
  max-width: 180px;
  line-height: 50px;
  height: 50px;
  display: block;
  text-align: center;
  position: relative;
  letter-spacing: 3px;
  background-color: #0d0d0d;
}
.btn div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn span.bg {
  background: #0d54be;
  position: absolute;
  width: 0;
  height: 100%;
  left: -5%;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: skewX(-19deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.btn span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #0d54be;
}
.btn span.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  top: 0;
  left: 0;
}
.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(39, 122, 216);
  border-radius: 50%;
  margin-left: 0.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media all and (min-width: 500px) {
  .btn:hover span.bg {
    width: 110%;
    background-color: #cf7bc8;
    border: 2px solid #0d54be;
  }
  .btn:hover span.text {
    color: #1d1d1d;
  }
  .btn:hover i {
    margin-left: 2rem !important;
  }
}
/* button End */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
}

.navbar > a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.navbar > a > i {
  color: rgb(39, 122, 216);
  padding-right: 0.5rem;
}

.navbar > a:hover {
  border: 3px solid rgb(39, 122, 216);
  border-bottom: none;
  padding-bottom: 3.5rem;
}

.navbar > a:hover > i {
  color: rgba(167, 54, 233, 0.774);
}
.navbar > a > img {
  max-width: 50px;
  width: 45%;
  overflow: hidden;
  margin-top: -2%;
  margin-bottom: -4.5%;
}

.topnav {
  overflow: hidden;
  background-color: rgb(13, 13, 13);
  position: fixed;
  display: none;
  z-index: 1000;
  width: 100%;
}
.topnav img {
  top: -500px;
  margin-left: -220px;
  margin-top: -140px;
  margin-bottom: -150px;
  width: 500px;
}

.topnav #myLinks {
  /* top: 0px; */
  position: fixed;
  display: none;
  background: black;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  /* border: 2px solid red; */
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav > a:nth-child(1) {
  background-color: rgb(13, 13, 13);
  color: white;
}

.active {
  background-color: rgb(13, 13, 13);
}

/* Profile Pic */

.container1 {
  border-radius: 50%;
  height: 512px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: fit-content;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 380px;
}
.container1:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: circle(60.8% at 52% 31%);
  position: relative;
  transform-origin: 70%;
  top: -8px;
}
.circle {
  width: 150%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -25px;
  margin-left: -45px;
  pointer-events: none;
  position: absolute;
}
.img {
  left: 0px;
  top: -85px;
  width: 550px;
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container1:hover .img {
  transform: translateY(0) scale(1.2);
}

/* Profile pic End */

/* Home Start */

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}
#home > .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

#home > .content > h1 {
  color: rgb(39, 122, 216);
  font-size: 6rem;
  padding-bottom: 0.5rem;
}
#home > .content > h1:nth-child(1) {
  color: #fff;
}

#home > .content > span {
  font-size: 3rem;
  color: #fff;
  padding: 0.5rem 0;
  display: block;
}

#home > .content > p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

/* About Css Start */

#about > .row > h1 {
  font-size: 2rem;
  color: #cecece;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 1px rgb(39, 122, 216);
  border-radius: 10px;
  width: 45%;
  font-weight: lighter;
  line-height: 3rem;
}
#about > .row > h1:nth-child(even) {
  box-shadow: 0px 0px 10px 1px violet;
  margin-left: 55%;
}

/* About End */

#skills > .box-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 6rem;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 6rem;
}

#skills > .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  background: #1a1a1a;
  border: 2px solid #1a1a1a;
}

#skills > .box-container .box:hover {
  transform: translateY(-5px) translateX(0px) scale(1.1);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1);
}

#skills > .box-container .box > img {
  height: 7rem;
  margin-bottom: 1rem;
}

#skills > .box-container .box > h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
}

/* Skill End */

/* Project Start */
#project {
  display: grid;
  gap: 60px;
}
#project > h1 {
  margin-bottom: -20px;
}

#project > .box {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#project > .box > div {
  width: 100%;
}

.project_Info {
  width: 100%;
  aspect-ratio: 3/1.4;
  color: #fff;
  background-color: #000;
  z-index: 10;
  position: fixed;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  gap: 3%;
}

.project_Info > p {
  font-size: 1.8vw;
  letter-spacing: 0.1rem;
  color: #cecece;
}
.project_Info > .teck_stk {
  display: flex;
  width: 90%;
  margin: auto;
  padding-left: 2.5%;
  justify-content: space-between;
}
.project_Info > .teck_stk > img {
  height: 7rem;
}

.project_Info > .links {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  justify-content: space-between;
}

#project > .box > div > .aboutProject {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
#project > .box > div > .aboutProject > h1 {
  font-size: 4vw;
  margin-bottom: 10px;
  color: #fff;
}
.btn2 {
  margin: 0px;
  width: fit-content;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.4rem;
  color: #0d54be;
  background-color: #0d0d0d;
  border: 1px solid #0d54be;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn2 > i {
  font-size: 18px;
  margin-left: 5px;
}
.btn2:active {
  color: #cf7bc8;
  border: 1px solid #cf7bc8;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 80%;
  aspect-ratio: 3.1/1.5;
  padding: 5px;
}

.swiper-content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  /* height: auto; */
}
.swiper-content > .hero {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-position: center !important; */
  background-size: 100% !important;
  object-fit: contain;
}
.elecTonFirstImgae {
  aspect-ratio: 3/1.1;
}
.nykaaFirstSlide {
  aspect-ratio: 3/1.3;
}
.nykaaLastSlide {
  aspect-ratio: 3/1.48;
}
/* Project End */

/* Contact Start */

#contact > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

#contact > .row > .info-container {
  width: 40rem;
}

#contact > .row > .info-container > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 1rem;
}

#contact > .row > .info-container p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

#contact > .row > .info-container > .box-container {
  padding: 2rem 0;
}

#contact > .row > .info-container > .box-container > .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

#contact > .row > .info-container > .box-container > .box > i {
  font-size: 3rem;
  color: rgb(39, 122, 216);
}

#contact > .row > .info-container > .box-container > .box h3 {
  font-size: 2rem;
  color: #fff;
}

#contact > .row > .info-container > .share > a {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  background: #1a1a1a;
  color: rgb(39, 122, 216);
  text-align: center;
  margin-right: 0.3rem;
}

#contact > .row > .info-container > .share > a:hover {
  border: 2px solid violet;
}

#contact > .row > form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

#contact > .row > form > .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#contact > .row > form > .inputBox > input {
  height: 5rem;
  width: 49%;
}

#contact > .row > form > .inputBox > input,
#contact > .row > form > textarea {
  border-radius: 2px;
  border-right: 2px solid rgb(39, 122, 216);
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: none;
  margin: 0.7rem 0;
  background: #1a1a1a;
}

#contact > .row > form textarea {
  width: 100%;
  resize: none;
  height: 25rem;
}

#contact > .row > form > .inputBox > input:focus,
#contact > .row > form > textarea:focus {
  border-top: 2px solid violet;
  border-right: 2px solid violet;
}

.bottomLogo {
  /* border: 2px solid red; */
  height: 65px;
}

/* Contact End */

@media (max-width: 1300px) {
  .heading span {
    margin-top: -60px;
  }
  #about > .row > h1 {
    width: 50%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 50%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
  section {
    padding: 3rem 0;
  }
  .heading span {
    margin-top: -43px;
  }
  #about > .row > h1 {
    width: 65%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 35%;
  }
}
@media (max-width: 950px) {
  .heading span {
    margin-top: -35px;
  }
  #about > .row > h1 {
    width: 70%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 30%;
  }
}

@media (max-width: 768px) {
  .heading span {
    margin-top: -28px;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  #home {
    text-align: center;
    gap: 2rem;
    display: block;
  }
  #home .person {
    margin: auto;
  }
  #home .content h3 {
    font-size: 3rem;
  }
  #home .content h1 {
    font-size: 5rem;
  }
  #contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
  #about > .row > h1 {
    width: 75%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 25%;
  }
}

@media (max-width: 600px) {
  .heading span {
    margin-top: -25px;
  }
  /* Profile Pic Start */
  .person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
  }
  .container1 {
    border-radius: 50%;
    height: 500px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 500px;
  }
  .container1:hover,
  .container1:focus,
  .container1:active {
    transform: scale(0.515);
  }
  .container-inner {
    clip-path: circle(57.8% at 50% 31%);
    position: relative;
    transform-origin: 50%;
    right: -20%;
    width: 50%;
  }
  .circle {
    border-radius: 50%;
    cursor: pointer;
    margin-top: -30px;
    margin-left: -157px;
    pointer-events: none;
    position: absolute;
    width: 222%;
    opacity: 0.2;
  }
  .img {
    left: -135px;
    top: -119px;
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 500px;
  }
  .container1:hover .img {
    transform: translateY(0) scale(1.169);
  }

  /* Profile Pic End */
  #home > .content > h1 {
    font-size: 4.8rem;
  }
}
@media all and (max-width: 500px) {
  body {
    margin: auto;
  }
  .heading span {
    margin-top: -20px;
  }
  section {
    width: 90%;
  }
  .person {
    width: 100%;
    margin: auto;
  }
  .content {
    width: 100%;
    margin: auto;
  }
  /**/
  #home {
    display: block;
    gap: 5rem;
  }
  #home > .person {
    top: 0px;
    margin-bottom: 50px;
  }
  #home .img {
    top: -45px;
  }
  #home > div {
    width: 100%;
  }
  #home > .content > h1 {
    font-size: 4rem;
  }
  /**/
  #about > .row > h1 {
    width: 80%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 20%;
  }
  #skills > .box-container {
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 6rem;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #skills > .box-container:hover {
    padding: 0 1rem;
  }

  .navbar {
    display: none;
  }
  .topnav {
    display: block;
  }
  .project_Info > p {
    font-size: 3vw;
    margin-bottom: 2rem;
  }
  #project > .box > div > .aboutProject > h1 {
    font-size: 18px;
  }
  .project_Info > .teck_stk > img {
    height: 4rem;
  }
  .project_Info {
    gap: 1%;
    padding: 10px;
    aspect-ratio: 3/1.7;
  }
  .swiper-slide {
    width: 100%;
    aspect-ratio: 3/1.7;
    padding: 5px;
  }
  .noHover {
    pointer-events: none;
  }
  .project_Info > .teck_stk {
    padding-left: 6%;
  }
  .btn:active span.bg {
    width: 110%;
    background-color: #cf7bc8;
    border: 2px solid #0d54be;
  }
  .btn:active span.text {
    color: #1d1d1d;
  }
  .btn:active i {
    margin-left: 2rem !important;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #about > .row > h1 {
    width: 85%;
  }
  #about > .row > h1:nth-child(even) {
    margin-left: 15%;
  }
  .project_Info > .tech_stk {
    padding-left: 6%;
  }
}
